<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Détails Produit</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <div style="color:black;">Nom : {{product?.name}}
    <br>
    Prix : {{product?.price}}
    <br>
    Catégorie : {{product?.categoryName}}
</div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
</mat-dialog-actions>