<body>
    <div class="login-container">
        <div class="logo">
            <mat-icon>lock</mat-icon>
        </div>
        <div style="text-align: center !important;margin-bottom: 5pc;">Shop Store</div>
        <form [formGroup]="loginForm">
            <div fxFlex fxLayout="column">
                <mat-form-field appearance="outline" fxFlex color="primary">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                        <span *ngIf="loginForm.controls.email.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="loginForm.controls.email.errors.pattern">Courriel invalide</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex color="primary">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                        <span *ngIf="loginForm.controls.password.errors.required">Ce champ est obligatoire</span>
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button [disabled]="!(loginForm.valid && loginForm.dirty)" color="primary" (click)="handleSubmit()">Se connecter</button>

            </div>
        </form>

        <div class="home-link">
            <span (click)="onBack()">
                <span style="color: blue;cursor: pointer;">Retour à l'accueil</span>
            </span>
        </div>
    </div>
</body>